<form method="post" action="{{ path('app_av_booking_delete', {'id': av_booking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ av_booking.id) }}">
    <button class="btn">Delete</button>
</form>
