{% extends 'base.html.twig' %}

{% block title %}AvBooking index{% endblock %}

{% block body %}
    <h1>AvBooking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_booking in av_bookings %}
            <tr>
                <td>{{ av_booking.id }}</td>
                <td>
                    <a href="{{ path('app_av_booking_show', {'id': av_booking.id}) }}">show</a>
                    <a href="{{ path('app_av_booking_edit', {'id': av_booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_booking_new') }}">Create new</a>
{% endblock %}
