{% extends 'base.html.twig' %}

{% block title %}New AvBooking{% endblock %}

{% block body %}
    <h1>Create new AvBooking</h1>

    {{ include('av_booking/_form.html.twig') }}

    <a href="{{ path('app_av_booking_index') }}">back to list</a>
{% endblock %}
