{% extends 'base.html.twig' %}

{% block title %}Edit AvCategories{% endblock %}

{% block body %}
    <h1>Edit AvCategories</h1>

    {{ include('av_categories/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_av_categories_index') }}">back to list</a>

    {{ include('av_categories/_delete_form.html.twig') }}
{% endblock %}
